<!DOCTYPE html>
<!-- saved from url=(0051)https://getbootstrap.com/docs/4.3/examples/sign-in/ -->
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="att game">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Jekyll v3.8.5">
  <title>Signin - Att Card Game</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/sign-in/">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->
  <link href="/css/signin.css" rel="stylesheet">
</head>

<body class="text-center">
  <form class="form-signin" action="/register" method="POST">
    <img class="mb-4" src="/images/logo.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please Sign Up</h1>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required
      autofocus>

    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" name="email" placeholder="Email" value="" class="form-control" required />

    {{!--     <label for="inputUser" class="sr-only">User name</label>
    <input type="text" id="inputName" class="form-control" placeholder="User name" required>
 --}}
    <label type="password" name="password" for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>

    <label for="confirmPassword" class="sr-only">Confirm Password</label>
    <input type="password" id="confirmPassword" name="repassword" class="form-control" placeholder="Confirm Password"
      required>

    <label for="inputSex" class="sr-only">Confirm Password</label>
    <input id="inputSex" name="sex" class="form-control" placeholder="Confirm Password" value="1" type="hidden">
    <div class="mb-3">
      <label>
        <a href="/">To Sign In</a>
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" id="submitSignUpBtn" type="submit">Sign Up</button>
    <p class="mt-5 mb-3 text-muted">© 2019 Designed by Bootstrap</p>
  </form>
  <script src="/js/jquery/jquery-3.4.1.min.js"></script>
  <script src="/js/utils.js"></script>


</body>

</html>
{{!-- 
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="Generator" content="EditPlus">
    <meta name="Author" content="KG">
    <title>{{title}}</title>
    <meta name="Keywords" content="关键字">
    <meta name="Description" content="描述">
    <link rel="icon" type="image/x-icon" href="" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/login.css">
    <script type="text/javascript" src="/js/jquery-2.2.4.min.js"></script>
    <style>
      .login .right .p1 {
        margin-bottom: 10px;
      }
      .login .right .p3 {
        text-align: center;
      }
      .login .right .p3 label {
        margin: 10px;
      }
      .login .right .btn {
        margin-top: 30px;
      }
    </style>
  </head>
  <body>
    <div id="bg" class="">
      <div class="wrap-login">
        <div class="login">
          <div class="left">
            <img src="/images/plant.jpg" alt="" width="255" height="178" />
            <p class="text1">付出不亚于任何的努力！</p>
            <p class="text2">谦虚戒骄，天天反省,集善行，思利他！</p>
          </div>
            <div class="right">
              <h2>后台内容管理系统</h2>
              <form action="/register" method="POST">
                <p class="p1">
                  <input type="text" name="username" placeholder="请输入登录用户名" value="" id="user" />
                </p>
                <p class="p1">
                  <input type="password" name="password" placeholder="输入密码" value="" id="psw" />
                </p>
                <p class="p1">
                  <input type="password" name="repassword" placeholder="重复输入密码" value="" id="psw" />
                </p>
                <p class="p1">
                  <input type="email" name="email" placeholder="输入邮箱" value="" id="psw" />
                </p>
                <p class="p3">
                  <label for=""><input checked type="radio" name="sex" value="1" />男</label>
                  <label for=""><input type="radio" name="sex" value="0" />女</label>
                </p>
                <p class="p1 btn">
                  <input type="submit" value="注册" />
                </p>
              </form>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
 --}}